*{
  margin: 0;
  padding: 0;
  
}

body{
  margin:0;
  padding: 0;
  background-image: url(./Netflix.png);
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin: 5rem; 
}

  

.dropdown-menu{
  width:8rem;
  background-color: antiquewhite;
  border: solid;
  height: 4rem;
  
}
.dropbox ul{
  list-style: none;
}
