

body {
 background-image: url(./Netflix.png);
 

  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

overflow: auto;


}


.container-fluid {


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: brown;

}

.navbar {
  margin-top: 0;
  width: 70rem;

  background-color: aqua;
  display: flex;
  justify-content: center
}

.left {
  background-color: antiquewhite;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

a {
  padding-left:0.5rem;
  padding-right: 2rem;
  color: black;
}
h1,
p {
  color: white;
  text-align: left;
}

.box1 {
  padding:2rem;
  width: 60rem;
  height: auto;
  margin-top: 4rem;
  background-color: antiquewhite;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.box1-1 {
  padding: 1rem;
  border: solid;
}
.box1-2{
  padding:0.5rem;
  border:solid;
  width:30rem;
  display: flex;
}
.btn{
  margin-left: 1rem;
  width:16rem;
  height:3rem;
}
.box2{
  height:auto;
}