*{
  margin:0;
  padding: 0;
  
}
.container-fluid{
   background-image: url(./Netflix.png);
  background-size: cover;
  height: 100vh;
  background-position: center;


}


.header{
  background-color: black;
 
}
.dropdown ul li{
  list-style: none;
}
.dropdownBox{
  width:6rem;
  background-color: beige;
  text-align: center;
  display: flex;
}